<launch>

    <arg name="uav_id" default="3"/>
    <arg name="fps" default="30"/>
    <arg name="height" default="720"/>
    <arg name="width" default="1080"/>

    <group ns="uav_$(arg uav_id)">
        
        <!-- Launch video_streamer node for uav id=3 -->
        <node pkg="simple_vs" type="video_streamer" name="video_streamer" output="screen">
            <param name="fps" value="$(arg fps)"/>
            <param name="frame_height" value="$(arg height)"/>
            <param name="frame_width" value="$(arg width)"/>
            <param name="ns" value="uav_$(arg uav_id)"/>
        </node>
    </group>

</launch>