<launch>

    <arg name="uav_id" default="2"/>
    <arg name="fps" default="10"/>
    <arg name="height" default="720"/>
    <arg name="width" default="1080"/>
    <arg name="source" default="1"/> <!-- 0 para camara , 1 para video-->


        
    <!-- Launch video_streamer node for uav id=3 -->
    <node pkg="simple_vs" type="video_resize" name="video_resize" output="screen" >

    </node>

</launch>
